header {
  width: 100%;
  height: 60px;
  background: rgb(36, 36, 36);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
  padding: 0px 0px;
}
header nav {
  width: max-content;
}
header nav ul {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
}
.li {
  text-decoration: none;
  list-style: none;
  background: none;
}
.link {
  color: aliceblue;
  text-decoration: none;
  transition: all 0.1s;
}
.link:active {
  color: rgb(71, 70, 70);
}
